html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;1,100&family=Roboto:ital,wght@0,400;1,100;1,300&display=swap');

header {
    height: 700px;
    width: 100%;
    background-position-x: center;
    object-fit: cover;
    background-size: cover;
    background-image: url(./img/Bitmap.png);
    background-color: rgba(0,0,0,.4);
    background-size: 100% 700px;
    box-sizing: border-box;
}


.header-top{
    padding: 45px 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: white;
}

.header-logo-right {
    a {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-decoration: none;
        color: white;
        margin-right: 19px;
    }

    button {
        padding: 10px 18px;
        border: 2px solid #FFFFFF;
        border-radius: 40px;
        background: none;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
        cursor: pointer;
    }
}

.header-description {
    width: 470px;
    margin: 50px auto;
    height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    h1 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 52px;
        line-height: 63px;
        text-align: center;
        color: #FFFFFF;
    }

    p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 24px;
        color: #F7F3F2;
    }

    button {
        background: #FF4E50;
        border-radius: 40px;
        border: none;
        padding: 12px 19px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;
        cursor: pointer;
    }
}


main {
    margin:  0px 250px;
}

.section-header {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 32px;
        color: #444444;
        text-align: center;
        margin-top: 95px;
        margin-bottom: 35px;
    }


.step-card {
    display: flex;
    justify-content: space-between;
}

.step-card-item {
    position: relative;
    width: 31%;

    img {
        width: 100%;
    }
}

.step-card-item-descr {
    height: 190px;
    position: absolute;
    bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;

    button {
        padding: 4px 14px;
        background: #FF4E50;
        border: none;
        border-radius: 40px;
        font-family: 'Montserrat';
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 2px;
        color: #FFFFFF;
    }

    h1 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 26px;
        color: #FFFFFF;
    }

    p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 14px;
        color: #E3E3E3;
    }
}

.person {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.person-card {
    height: 220px;
    width: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;

    h2 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #444444;
    }

    p {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 14px;
        line-height: 14px;
        color: #666666;
        text-align: center;
    }
}

.btn-partners {
    margin: 48px auto 0px;
    padding: 12px 20px;
    cursor: pointer;
    background: none;
    border: 2px solid #FF4E50;
    border-radius: 40px;
    display: flex;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FF4E50;
}

.activities {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.activities-item {
    width: 31.5%;
    position: relative;
    margin-bottom: 20px;
    img {
        filter: brightness(0.7);
        width: 100%;
    }

    .act-par {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
        color: #FFFFFF;
        width: 100%;
        text-align: center;
    }
}


.img-cultural {
    width: 65%;
    overflow: hidden;
}

.last {
    margin-bottom: 0px;
}


.form {
    display: flex;
    align-items: center;
    flex-direction: column;

    h2 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 14px;
        color: #666666;
    }
}

.form-items {
    margin-top: 37px;

    input {
        padding: 14px 158px 10px 14px;
        border: 1px solid #D4D4D4;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
        border-radius: 3px;
        margin-right: 10px;
    }

    button {
        border: none;
        padding: 12px 30px;
        background: #FF4E50;
        border-radius: 40px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #FFFFFF;       
        cursor: pointer;
    }
}


hr {
    height: 2px;
    margin-top: 100px;
    background: #FF4E50;
}

footer {
    margin: 38px 250px 36px 250px;
    display: flex;
    justify-content: space-between;

    .footer-logo {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #FF4E50;
        
    }

    .footer-company {
        h2 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #444444;
        margin-bottom: 10px;
        }

        ul li {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 300;
            font-size: 14px;
            line-height: 26px;
            color: #999999;
            cursor: pointer;
        }
    }

    .footer-partners {
        h2 {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            color: #444444;
        }
    }

    .footer-logo-right{
        display: flex;
        flex-direction: column;
        align-items: end;
            h2 {
                margin-top: 2px;
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 10px;
                line-height: 12px;
                display: flex;
                letter-spacing: 1px;
                color: #CCCCCC;
                margin-bottom: 10px;
            }
    }
}


@media (max-width: 1240px) {
    header {
        background-position-x: center;
    object-fit: cover;
    background-size: cover;
    }

    main {
        margin:  0px 200px;
    }

    footer {
    margin: 38px 200px 36px 200px;
    }

    .step-card-item-descr {
        padding: 10px;
    }
}

@media (max-width: 1150px) {
    .step-card-item {
        height: 400px;

        img {
            height: 100%;
        }
    }   
}

@media (min-width: 739px) and (max-width: 1240px) {
    .header-top {
        padding: 40px 50px;
    }

    main {
        margin: 0px 10px;
    }

    .second-section {
        margin: 0 138px;

    }

    footer {
        margin-left: 40px;
        margin-right: 40px;
    }
}

@media (max-width: 920px) {
    .person {
        flex-wrap: wrap;
    }

    .person-card-margin {
        margin-bottom: 35px;
    }
}

@media (max-width: 739px) {
     .header-top {
        padding: 40px 50px;
    }

    main {
        margin: 0px 10px;
    }

    .second-section {
        margin: 0 60px;

    }
    
    footer {
        margin-left: 40px;
        margin-right: 40px;
    }
}

@media (max-width:630px) {
    .step-card-item-descr {
        height: 250px;
        width: 100%;
        padding: 5px;

        h1 {
            width: 100%;
            line-height: 14px;
            font-size: 20px;
        }
    }

    .form-items input {
        padding: 14px 30px 10px 14px;
    }
}  

@media (max-width:520px) {
    header {
        height: 540px;
    }

    .header-top {
        flex-direction: column-reverse;
        height: 150px;
    }

    .header-logo-right {
        display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    }

    .header-description {
        margin: 0 auto;
        width: auto;

        h1 {
        font-size: 30px;
        line-height: 37px;
        }

        p {
            font-size: 18px;
            line-height: 24px;
        }
    }

    .person {
        justify-content: center;
    }

    .step-card {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .step-card-item {
        width: 90%;
        height: 240px;
        margin-bottom: 10px;

    }

    .step-card-item-descr {
        height: 180px;
        bottom: 5px;
        justify-content: space-evenly;
    }

    .second-section {
        margin: 0px;
    }

    .btn-partners {
        width: 100%;
    padding: 14px;
    display: flex;
    justify-content: center;
    }

    .activities-item {
        width: 100%;

        img {
            height: 120px;
            object-fit: cover;
        }
    }

    .last {
        margin-bottom: 20px;
    }

    .section-header {
        margin-top: 75px;
    }

    .form-items {
        width: 100%;

        input {
            width: 100%;
            box-sizing: border-box;
            margin: 0px;
        }

        button {
            width: 100%;
            margin-top: 10px;
        }
    }

    footer {
        margin-left: 20px;
        margin-right: 20px;
        flex-direction: column;
    align-items: center;
    }

    .footer-company {
        h2 {
            display: flex;
            justify-content: center;
            margin-top: 5px;
        }

        ul {
            display: flex;
        flex-wrap: wrap;
        width: 50%;
        margin: 0 auto;
        justify-content: space-around;
        margin-bottom: 10px;
        }
    }

    .footer-logo-right {
        display: flex;
    flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }
}